/* ArtworkList.css */

.table-artworks {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

.table-artworks th,
.table-artworks td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table-artworks th {
  background-color: #f4f4f4;
}

.table-artworks tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table-artworks tr:hover {
  background-color: #f1f1f1;
}

.table-artworks button {
  cursor: pointer;
}
